[Unit]
Description=Daily seccheck run
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/secchk/security-control.sh daily
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
Environment=HOME=/root
